
body {
  /*网站的字体与颜色*/
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  color: #333;
}
/*顶部栏的样式汇总*/
.site-topbar {
  position: relative;
  /*z-index为何设置成30?*/
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;

  .container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
  }

  span {
    /*字体大小这算大概7px*/
    margin: .5em;
  }
  /*顶部栏间隔号样式*/
  .sep {
    margin: 0 .5em;
    color: #424242;
  }

  /*顶部栏字体样式*/
  a {
    /*将a内的行内元素转成行内块*/
    line-height: 40px;
    display: inline-block;
    color: #b0b0b0;
    text-decoration: none;
  }
  a:hover{
    color: #fff;
  }

  /*为导航栏左侧元素设置位置*/
  .topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
  }

  .topbar-info,
  .topbar-cart {
    position: relative;
    float: right;
    height: 40px;
  }

  /*购物车样式*/
  .topbar-cart {
    position: relative;
    width: 120px;
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: RGB(66, 66, 66);
    color: #b0b0b0; 
    margin-left: 30px;
  }

  .topbar-cart a{
    width: 100%;
  }

  .topbar-cart>a:hover {
    color: rgb(255, 177, 125);
    background-color: #fff;
  }
  .topbar-cart>a .cart-outer {
    position: absolute;
    right: 0;
    height: 0;
    width: 315px;
    background-color: #ffffff;
    box-shadow: 0 3px 9px #dddddd;
    transition: .2s;
  }
  .topbar-cart>a:hover .cart-outer {
    height: 150px;
  }
}
/*小米顶部end*/

/*导航栏样式*/
.site-header {
  position: relative;
  width: 100%;
  height: 104px;

  .nav-wrapper {
    width: 1230px;
    height: 104px;
    /*让元素居中*/
    margin: 0 auto;
    position: relative;

    .nav-logo {
      float: left;
      width: 50px;
      height: 50px;
      background: url(mi/mi-logo.png) no-repeat center #ff6700;
      margin-top: 26px;
    }
    .nav-list {
      float: left;
      width: 650px;
      height: 88px;
      padding: 16px 0 0 30px;
      margin-left: 155px;
      font-size: 16px;
      .site-category {
        position: relative;
        z-index: 3;
      }
      // 活动图标的大小
      .site-category>a{
        padding: 0;
        display: block;
        width: 163px;
        height: 66px;
      }
     
      /*导航栏目li的样式*/
      >li {
        float: left;
        >a {
          display: block;
          padding: 26px 10px 38px;
          color: #333;
        } 
        >a:hover{
          color:#ff6700;
        }
      }
      .nav-item .item-list {
        position: absolute;
        width: 1226px;
        height: 0;
        left: 0;
        right: 0;
        top: 104px;
        z-index: 0;
        /*让元素的宽度为整个页面的宽度*/
        margin-left: -1000px;
        margin-right: -1000px;
        padding-left: 1000px;
        padding-right: 1000px;
        background-color: #ffffff;
        overflow: hidden;
        transition: .3s;
        >li {
          float: left;
          width: 200px;
          height: 230px;
          font-size: 14px;
          >a {
            display: block;
            text-align: center;
            img {
              margin-top: 30px;
              width: 160px;
            }
          }
        }
        // 让下拉的最后一张图片不出现边框
        >li:not(:last-of-type) > a> img{
          border-right: 1px solid #dddddd;
        }
      }
      /*父元素ul被hover时高度变高, 出现边框*/
      &:hover .item-list  {
        height: 230px;
        // border-top: 1px solid;
        box-shadow: 0 3px 3px #dddddd;
        border-top: 1px solid #dddddd;
      }
      .nav-item:hover ul {
        z-index: 1000
      }
    }
    .site-search {
      float: right;
      width: 296px;
      margin-top: 25px;
    }
    .site-search form {
      width: 296px;
      height: 50px;
      position: relative;
    }
    .site-search form .search-text {
      // 245px
      width: 223px;
      height: 48px;
      border: 1px solid #e0e0e0;
      font-size: 14px;
      padding: 0 10px;
      // 去除两个input之间的空格(或者直接在代码里把两个写在一行)
      float: left;
    }
    .site-search form .search-btn {
      margin-left: -1px;
      width: 50px;
      height: 50px;
      border: 1px solid #e0e0e0;
      float: left;
      background: url(mi/search-normal.png) no-repeat center;
      background-size: 50%;
    }
    .site-search form .hot {
      position: absolute;
      font-size: 12px;
      top: 14px;
      right: 60px;
    }
    .site-search form .hot a {
      display: inline-block;
      margin-left: 5px;
      color: #757575;
      padding: 0 5px;
      background-color: #eee;
    }
    .site-search form .hot a:hover{
      background-color: #ff6700;
      color: #fff;
    }
  }
}
/*导航栏样式结束end*/
/*侧边栏和轮播图片start*/
.site-content {
  .container {
    width: 1226px;
    /*让元素居中*/
    margin: 0 auto;
    position: relative;
  }
   /*侧边栏样式start*/
   .category-list {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  .category-list>ul {
    width: 234px;
    height: 420px;
    padding: 20px 0;
  }
  .category-list>ul>li {
    height: 42px;
  }
  .category-list>ul>li>a {
    padding-left: 30px;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    position: relative;
    >span {
      position: absolute;
      right: 8px;
      font-size: 16px;
      line-height: 42px;
      vertical-align: middle;
    }
  }
  
  // 背景色变色
  .category-list>ul>li:hover {
    background-color: #f06a00;
  }
  .category-list>ul>li:hover .goods-items {
    visibility: visible;
  }
  // hover时展示的侧边栏样式
  // 侧边栏hover后展开样式
  .category-list .goods-items {
    position: absolute;
    left: 234px;
    top: 0;
    border-top: 1px solid #eeeeee;
    box-shadow: 0 3px 3px #dddddd;
    background-color: #ffffff;
    height: 460px;
    display: flex;
    flex-flow: row;
    visibility: hidden;
    .one-colum-items {
      & > a {
        display: inline-block;
        padding-left: 20px;
        width: 228px;
        height: 76.5px;
        line-height: 76.5px;
        // font-size: 0;
        // box-sizing: border-box;
        & > img {
          width: 40px;
          height: 40px;
          vertical-align: middle;
          margin-right: 20px;
        }
        & > span {
          color: #333333;
          vertical-align: middle;
          font-size: 14px;
        }
      }
    }
      
    
  }

  /*侧边栏样式end*/
  .site-slider {
    position: relative;
    height: 460px;
    // z-index: 2;
  }
  .site-slider a {
    display: block;
    width: 1226px;
    position: absolute;
  }
  .site-slider a img{
    width: 1226px;
    height: 460px;
    opacity: 0;
    //transiton属性设在checked状态下和设置在此处显示不同
    transition: 1s;
  }
  // 图片播放选择右下角小圆圈包含块位置这顶
  .slider-label {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .site-slider input {
    display: none;
  }
  // 具体的图片选择小圆圈的样式
  .slider-label>label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;
  }
  .slider-label>label:hover{
    background-color: #fff;
  }
  // 将label的选中状态与小圆圈的样式相关联
  .site-slider input:nth-of-type(1):checked ~ .slider-label label:nth-of-type(1), 
  .site-slider input:nth-of-type(2):checked ~ .slider-label label:nth-of-type(2),
  .site-slider input:nth-of-type(3):checked ~ .slider-label label:nth-of-type(3),
  .site-slider input:nth-of-type(4):checked ~ .slider-label label:nth-of-type(4){
    background-color: #fff;
  }
  // input在checked状态下对应图片的显示
  .site-slider input:checked + a img {
    opacity: 1;
  }
  // 上一个下一个样式
  .site-slider .prev-group>label>.prev {
    position: absolute;
    width: 41px;
    height: 69px;
    left: 234px;
    bottom: calc(50% - 35px);
    background: url(mi/arrow-left-normal.png);
    background-position: center;
    cursor: pointer;
    // 默认不显示, 只要当对应图片展示时才显示
    visibility:hidden
  }
  .site-slider .prev-group>label>.prev:hover {
    background: url(mi/arrow-left-hover.png);
    // background属性会覆盖掉background-position属性, 所以要重设
    background-position: center;
  }
  // next图标的样式
  .site-slider .next-group>label>.next {
    position: absolute;
    width: 41px;
    height: 69px;
    bottom: calc(50% - 35px);
    right: 0px;
    background: url(mi/arrow-right-normal.png);
    background-position: center;
    cursor: pointer;
    // 默认不显示, 只要当对应图片展示时才显示
    visibility:hidden
  }
  .site-slider .next-group>label>.next:hover {
    background: url(mi/arrow-right-hover.png);
    background-position: center;
  }
  // 当对应的radio被选中, 让对应的上一个下一个按钮显示
  .site-slider input:nth-of-type(1):checked ~ .next-group>label:nth-of-type(2)>.next,
  .site-slider input:nth-of-type(2):checked ~ .next-group>label:nth-of-type(3)>.next,
  .site-slider input:nth-of-type(3):checked ~ .next-group>label:nth-of-type(4)>.next,
  .site-slider input:nth-of-type(4):checked ~ .next-group>label:nth-of-type(1)>.next {
    visibility: visible;
  }
  .site-slider input:nth-of-type(1):checked ~ .prev-group>label:nth-of-type(4)>.prev, 
  .site-slider input:nth-of-type(2):checked ~ .prev-group>label:nth-of-type(1)>.prev, 
  .site-slider input:nth-of-type(3):checked ~ .prev-group>label:nth-of-type(2)>.prev,
  .site-slider input:nth-of-type(4):checked ~ .prev-group>label:nth-of-type(3)>.prev {
    visibility: visible;
  }

  // 轮播图下主选择框内容
  .home-hero-sub {
    display: flex;
  }
  .home-hero-sub .first-section {
    display: flex;
    flex-flow: row wrap;
    width: 228px;
    height: 164px;
    font-size: 12px;
  }
  .home-hero-sub>ul>li {
    background-color: rgb(95, 87, 80);
    color: rgb(219, 213, 206);
    
  }
  .home-hero-sub>ul>li>i {
    display: block;
    text-align: center;
  }
  .home-hero-sub>ul>li>a {
    color: inherit;
  }
}

